<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fresh Linen Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/scripts/jsonrequesthandler.js"></script>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
</head>

<body style="padding:30px;font-size:16px;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/missioncontrol" class="nav-item nav-link" style="color:white;">View Tags</a></li>
                    <li><a href="/checkinout" class="nav-item nav-link" style="color:white;">Check In/Out</a></li>
                    <li><a href="/updateusers" class="nav-item nav-link" style="color:white;">Update Users</a></li>
                    <li><a href="/newtags" class="nav-item nav-link" style="color:white;">New Tags</a></li>
                    <li><a href="/logout" class="nav-item nav-link" style="color:white;">Log Out</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/logout" class="nav-item nav-link" style="color:white;"></a><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
<br>

    {% block content %}{% endblock %} <!-- Container for Content -->
    <footer>
        {% for message in get_flashed_messages() %}
        <div class='alert'>
            {{message}}
        </div>
        {%endfor%}
    </footer>
</body>
{% block scripts %}{% endblock %} <!-- Container for Scripts-->
</html>