{% extends "layout.html" %}
{% block content %}
    <style>
        table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border-radius: 5px;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
            width: 25%;
        }

        tr:nth-child(even){
            background-color: #f2f2f2;
            /* every other table row is a different colour */
            /* makes it easier to read */
        }

        th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #00b8e6;
          color: white;
        }
    </style>
    <div class="container">
        <form action='/reviewedfireform' method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Select A Past Fire</label>
                    <select name="reviewedfire" class="form-control" id="stateinput">
                        {% if fires != "No Past Fires" %}
                            {% for fire in fires %}
                                <option value={{fire['id']}}>{{fire['details']}}</option>
                                <!-- only creates dropd-down if fires returned -->
                            {% endfor %}
                        {% else %}
                            <option value={{fires}}>{{fires}}</option>
                            <!-- shows "No Past Fires" -->
                        {% endif %}
                    </select>
                </div>
            <input class="btn btn-info" type="submit" value="See Data From This Fire">
        </form><br>
        {% if 'reviewedfire' in session %}
            <!-- only displays fire data if a fire was selected -->
            <p>
                During this fire, the robot was being opperated by {{details['FullName']}}.<br>
                This fire took place at {{details['Number']}} {{details['Street']}}, {{details['Suburb']}}, {{details['State']}}.
                This fire occured on {{details['StartTime'].split()[0]}} at {{details['StartTime'].split()[1]}}.
                <!-- general fire info -->
            </p><br>
            {% if events != "no events" %}
            <!-- only shows past events if events were returned -->
            <canvas id="mycanvas" style="border:1px solid black"; height=480 width=640></canvas>
            <table id="events">
                <tr>
                    <th>Event Type</th>
                    <th>Elapsed Time</th>
                    <th>Temp</th>
                    <th>Heading</th>
                </tr>
                <!-- showing all events form that fire -->
                {% for event in events %}
                    <tr>
                        <td>{{event['EventType']}}</td>
                        <td>{{event['ElapsedTime']}}</td>
                        <td>{{event['Temp']}}</td>
                        <td>{{event['Heading']}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% elif events == "no events" %}
                <p>
                    Sorry. There are no events saved for this fire.
                <p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/hsv.js"></script>
    <script src="/static/scripts/pen.js"></script>
    <script src="/static/scripts/map.js"></script>
{% endblock %}
