{% extends "layout.html" %}
{% block scripts %}
  <script>
    function allitems() {
      location.replace("/allitems")
    }
    function selectcustomer() {
      location.replace("/allcustomers")
    }
  </script>
{% endblock %}
{% block content %}
<h2>Fresh Linen Services</h2><br/>
<!-- <p>The buttons when clicked run a special script that can be used to send data to the server without a form (and the necessary page refresh). This helper script uses JSON (a method of sending complex data through text encoding).</p>
<p>The helper function can be used as follows <b>JSONrequest</b>(/url, "POST",name_of_callback_function, {var1:"value1",var2:"value2"...})</p><p><i>The callback function receives a result object that contains response data.</i></p><p>A simpler call can be made: <b>JSONrequest</b>(/url, "POST") if you do not wish to send or receive data.</p> -->
<div class="container">
    <div class="container">
        <button type="button" class="btn" onclick="allitems()" style="font-size: large;">All Itmes</button>
        <button type="button" class="btn" onclick="selectcustomer()" style="font-size: large;">Select A Customer</button> 
    </div><br><br>
    <div>
      {% if allitems != "" %}
        {% if allitems != "no items" %}
        <p>The number of each type of items</p>
          <table>
            <tr>
              <th>Number of Product</th>
              <th>Product</th>
            </tr>
            {% for count in countitmes %}
              <tr>
                <td>{{count['Amount']}}</td>
                <td>{{count['Product']}}</td>
              </tr>
            {% endfor %}
          </table><br><br>

          <p>List of all itmes</p>
          <table>
            <tr>
              <th>EPC</th>
              <th>Product</th>
              <th>Checkout</th>
              <th>Return</th>
            </tr>
            {% for items in allitems %}
              <tr>
                <td>{{items['EPC']}}</td>
                <td>{{itmes['Product']}}</td>
                <td>{{itmes['Checkout']}}</td>
                <td>{{itmes['Return']}}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <h4>Sorry, but there are no items listed in the database</h4>
        {% endif %}
      {% endif %}
      

      {% if session['view'] == "customers" or session['view'] == "customer" %}
        <form action='/itemsearch' method="POST">
          <div class="form-group">
              <label class="control-label col-sm-2" for="name">User's Name:</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="itemsearch" placeholder="Enter their full name" name="itemsearch" style="font-size: large;">
              </div>
          </div><br>
          <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" style="font-size: large;">Search</button>
              </div>
          </div>
        </form> <br><br>
        {% if customerdetails != "" %} <!-- only creates drop-down if customers returned -->
          {% if customerdetails != "No Past Customers" %}
            <table class="table table-striped">
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Select</th>
              </tr>  
              {% for customer in customerdetails %}  
                  <form action="/dataselection" method="POST">
                      <input type="hidden" id="customerid" name="customerid" value={{customer['userid']}}>
                      <td>{{customer['fullname']}}</td> 
                      <td>{{customer['email']}}</td>
                      <td>{{customer['phone']}}</td>
                      <td><button type="submit" class="btn btn-default">Select</button></td>
                  </form>
              {% endfor %}
            </table>
          {% else %}
            <h4>No Customers Found With That Name</h4>
          {% endif %}
        {% endif %}

        {% if customerinfo != "" %}
          <br><br>
          <p>Customer Info For <b>{{customerinfo['fullname']}}</b></p>
          <p>Address: <b>{{customerinfo['address']}}</b></p>
          <p>Phone Number: <b>{{customerinfo['phone']}}</b></p>
          <p>Email: <b>{{customerinfo['email']}}</b></p><br>
          {% if customeritems != "Customer Has No Unreturned Items" %}
            <p>The number of each type of item a customer has unteturned</p>
            <table>
                <tr>
                  <th>Product</th>
                  {% for itemgroup in numcustomeritems %}
                    <td>{{itemgroup['Product']}}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Number of Product</th>
                  {% for itemgroup in numcustomeritems %}
                    <td>{{itemgroup['Amount']}}</td>
                  {% endfor %}
                </tr>
            </table>
            <br><br>
            
            <p>Every item a customer has unteturned</p>
            <table class="table table-striped">
              <tr>
                <th>EPC</th>
                <th>Product</th>
                <th>Checkout</th>
              </tr>
              {% for item in customeritems %}
                <tr>
                  <td>{{item['EPC']}}</td>
                  <td>{{item['Product']}}</td>
                  <td>{{item['Checkout']}}</td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <h4>Customer has no unreturned items</h4>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
</div>
{% endblock %}